{% extends "records/base.html" %}
{% load records_extras %}

{% block content %}
{% if posts_list %}
    {% for p in posts_list %}
<!--        <div class="row featurette">-->
<!--                <div class="col-md-7 order-md-2" style="margin-left: 20%;">-->
<!--                    <h3 class="featurette-heading" style="text-align: center;"> {{ p.title }}</h3>-->
<!--                    <p class="lead" style="text-align: center;">{{ s|cut:p.text }}</p>-->
<!--                    <hr class="featurette-divider">-->
<!--                 </div>-->
<!--        </div>-->

        <div class="row">
            <div class="card" style="width: 50%; margin-left: 24%; margin-top: 1%">
              <div class="card-body" style="box-shadow: 0 0 5px;">
                <h3 class="card-title">{{ p.title }}</h3>
                <p class="card-text">{{ p.text }}</p>
                <a href="#" class="btn btn-primary" style="margin-left: 80%">Читать далее ></a>
              </div>
          </div>
        </div>
                    <div class="row">
            <div class="card" style="width: 50%; margin-left: 24%; margin-top: 1%">
              <div class="card-body" style="box-shadow: 0 0 5px;">
                <h3 class="card-title">{{ p.title }}</h3>
                <p class="card-text">{{ p.text }}</p>
                <a href="#" class="btn btn-primary" style="margin-left: 80%">Читать далее ></a>
              </div>
          </div>
                    </div>



    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}