{% extends "records/base.html" %}
{% block content %}
{% if data %}
    {% for post_list, s_list in data %}

        <div class="row">
            <div class="card" style="width: 50%; margin-left: 24%; margin-top: 1%">
              <div class="card-body" style="box-shadow: 0 0 5px;">
                <h3 class="card-title">{{ post_list.title }}</h3>
                <p class="card-text">{{ s_list }}</p>
                <a href="{% url 'post' post_list.id %}" class="btn btn-primary" style="margin-left: 80%">Читать далее ></a>
              </div>
          </div>
        </div>

    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}