
    <div class="content">
        <form method="POST" class="card card-block m-x-auto bg-faded form-width">{% csrf_token %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <textarea class="form-conteol" rows="d" style="width:1109px"></textarea>
            <div class="text-xs-center">
                <div class="text-xs-center">
                    <button class="btn btn-secondary" href= "#" role="button">Добавить запись</button>
                </div>
            </div>
        </form>
    </div>
