{% extends 'records/base.html' %}
{% block content %}
<div class="p-x-1 p-y-3" style="width: 20%; margin: 0 auto;">
    {% if flag %}
    <div class="alert alert-danger" role="alert">
      Проверьте выполнение всех условий
    </div>
  {% endif %}
  <form class="card card-block m-x-auto bg-faded form-width form" method="post">
  {% csrf_token %}
    <legend class="m-b-1 text-xs-center">Регистрация</legend>
    {% for field in form %}
    <div class="text-xs-center">
        <p>
          {{ field.label_tag }}<br>
          {{ field }}<br>

<!--          {% if field.help_text %}-->
<!--          {{ field.help_text }}-->
<!--          {% endif %}-->
<!--          {% for error in field.errors %}-->
<!--          <p>{{ error }}</p>-->
<!--          {% endfor %}-->
        </p>
    </div>
    {% endfor %}
      <ul>
          <li>Не используйте личную информацию для пароля</li>
          <li>Ваш пароль должен быть не менее 8 символов</li>
          <li>Ваш пароль не должен содержать только цифры</li>
          <li>В Вашем пароле должны быть заглавные и строчные буквы</li>
      </ul>
  <button class="btn btn-block btn-primary" type="submit">Отправить</button>
  </form>
</div>
{% endblock %}